<footer class="footer">
    <div class="footer__list">
        <h2>About</h2>
        <ul>
            <li>
                <a href="#">History</a>
            </li>
            <li>
                <a href="#">Our Team</a>
            </li>
            <li>
                <a href="#">Mission Statement</a>
            </li>
            <li>
                <a href="#">Terms & Condition</a>
            </li>
            <li>
                <a href="#">Privacy Policy</a>
            </li>
        </ul>
    </div>
    <div class="footer__list">
        <h2>What do we do</h2>
        <ul>
            <li>
                <a href="#">Nes and stories</a>
            </li>
            <li>
                <a href="#">Publications</a>
            </li>
            <li>
                <a href="#">Take action</a>
            </li>
            <li>
                <a href="#">Recomendations</a>
            </li>
            <li>
                <a href="#">Help</a>
            </li>
        </ul>
    </div>
    <div class="footer__suscription">
        <h1>Sign Up to Receive Our Newsletter</h1>

        <input type="text">
        <div class="footer__social-networks">
            <h4>Follow us!</h4>
            <img src="/assets/images/networks/face.svg" alt="left arrow">
            <img src="/assets/images/networks/instagram.svg" alt="left arrow">
            <img src="/assets/images/networks/youtube.svg" alt="left arrow">

        </div>
    </div>
</footer>