@mixin flexbox($display, $justify, $align, $gap: auto, $flex-direction: row) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-direction: $flex-direction;
}