<nav class="navbar">
    <div class="navbar__logo">
        <img src="/assets/images/navbar/logo.png" alt="" width="auto" height="50">
    </div>
    <div class="navbar__menu">
        <a href="" class="active">HOME</a>
        <a href="">HOME</a>
        <a href="">HOME</a>
        <a href="">HOME</a>

    </div>
    <div class="navbar__login-menu">
        <app-button [name]='"SIGN IN"'></app-button>
        <div class="navbar__open-menu">

            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="40" viewBox="0 0 24 24" style="fill: rgba(247, 235, 235, 1);transform: rotate(180deg);msFilter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);"><path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path></svg>
        </div>
    </div>
</nav>