@import 'mixins';
.card-amount {
    width: 100%;
    font-size: 25px;
    margin: 2rem 0;
    @include flexbox(flex, center, center, 2rem);
    flex-wrap: wrap;
    &__number {
        margin-left: 5px;
        font-size: 35px;
        font-weight: bold;
        span:last-child {
            font-size: 45px;
        }
    }
}