@import 'mixins';
.keen-slider {
    margin: 0 auto;
    &:not([data-keen-slider-disabled]) {
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
        align-content: flex-start;
        display: flex;
        overflow: hidden;
        position: relative;
        justify-content: space-around;
        touch-action: pan-y;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -khtml-user-select: none;
        max-width: 1150px;
        gap: 90px;
        justify-content: space-between;
        .keen-slider__slide {
            min-height: 100%;
            overflow: hidden;
            position: relative;
        }
    }
    &:not([data-keen-slider-disabled])[data-keen-slider-reverse] {
        flex-direction: row-reverse;
    }
    &:not([data-keen-slider-disabled])[data-keen-slider-v] {
        flex-wrap: wrap;
    }
}

.number-slide {
    min-width: 300px !important;
}

.buttons-slider {
    @include flexbox(flex, center, center, 2rem);
    img {
        @media only screen and (max-width: 1000px) {
            display: none;
        }
    }
}