<div class="banner">
    <div class="banner__left">
        <div class="banner__ui">
            <span>UI</span><span class="purple">.</span>
        </div>
        <div class="banner__beginner">
            <div class="banner__beginner-image">
                <img src="/assets/images/banner/beginner.png" alt="beginner image">
            </div>
            <div class="banner__beginner-description">
                <div class="square"></div>
                <div>BECOME A PRO DESIGNER</div>
            </div>
        </div>
        <div class="banner__arrow-left">
            <img class="arrow" src="/assets/images/shared/left-arrow.svg" alt="left arrow">
        </div>
    </div>
    <div class="banner__center">
        <img class="banner__center-image" src="/assets/images/banner/main.png" alt="Photo main">
    </div>
    <div class="banner__right">
        <div class="banner__edition">
            <p>EDITION</p>
            <p><b>2022</b></p>
        </div>
        <div class="banner__info">
            <h1 class="banner__info-title">
                START GUIDE FOR BEGINNER DESIGNERS
            </h1>
            <p class="banner__info-description">
                Automatically detect Security Vulnerabilities and Security Hotspots during your code review. Write the most efficient code possible with SonarQube. Basic analysis is always free!</p>
            <div class="banner__info-buttons">
                <app-button-purple [name]="'LET STARTED'"></app-button-purple>
                <app-button [name]="'READ MORE'"></app-button>
            </div>
        </div>
        <div class="banner__arrow-right">
            <img class="arrow" src="/assets/images/shared/right-arrow.svg" alt="left right">
        </div>
    </div>
</div>