.course {
    border: 1px solid red;
    min-height: 300px;
    min-width: 300px;
    width: auto;
    position: relative;
    padding: 20px;
    &__numeral {
        width: 20px;
        height: 20px;
        color: black;
        text-align: center;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
    }
}