@import 'mixins';
.course {
    min-height: 200px;
    max-width: 200px;
    position: relative;
    padding: 30px;
    @include flexbox(flex, auto, auto, 2rem, column);
    text-align: center;
    @media only screen and (max-width: 1300px) {
        max-width: 100%;
    }
    &__numeral {
        @include flexbox(flex, center, center);
        width: 50px;
        height: 50px;
        color: black;
        font-size: 20px;
        font-weight: bolder;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__title {
        margin-top: 4rem;
        p {
            font-size: 40px;
            font-weight: bolder;
            margin-bottom: 2rem;
        }
    }
    &__inner {
        border: 2px solid #B860FA;
        margin: 0 auto;
        width: 30%;
        height: 0;
    }
    &__button {
        margin: 0 auto;
        width: 80%;
    }
}