.main-container {
    margin: 0px 30px;
    @media only screen and (min-width: 900px) {
        margin: 0;
    }
    .cards-amounts {
        margin: 4rem 0;
        @media only screen and (min-width: 900px) {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 2rem;
        }
    }
    .accept-challenges {
        &__images {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            img {
                max-width: 100%;
            }
            @media only screen and (max-width: 1300px) {
                img:last-child,
                img:first-child {
                    display: none;
                }
            }
        }
    }
    .swiper {
        width: 600px;
        height: 300px;
    }
}