@import 'mixins';
.main-container {
    margin: 0px 30px;
    @media only screen and (min-width: 900px) {
        margin: 0;
    }
    .cards-amounts {
        @media only screen and (min-width: 900px) {
            @include flexbox(flex, space-evenly, start, 2rem);
        }
    }
    .accept-challenges {
        &__images,
        &__description {
            @include flexbox(flex, space-between, flex-start);
        }
        &__images {
            img {
                max-width: 100%;
            }
            @media only screen and (max-width: 1300px) {
                img:last-child,
                img:first-child {
                    display: none;
                }
            }
        }
        &__description {
            margin-top: 4rem;
            h1 {
                font-size: 45px;
                margin: 0 25px;
                color: #1E2020;
            }
            @media only screen and (max-width: 1300px) {
                display: none;
            }
        }
    }
    .courses {
        @include flexbox(flex, center, start, 4rem);
        @media only screen and (max-width: 1300px) {
            display: block;
        }
    }
    .more-courses {
        @include flexbox(flex, center, center);
    }
    .video {
        @include flexbox(flex, space-between, flex-start);
        &__images-left,
        &__images-right {
            display: none;
            @media only screen and (min-width: 900px) {
                @include flexbox(flex, center, center);
                flex-direction: column;
            }
        }
        &__container {
            width: 100%;
            iframe {
                height: 400px;
                width: 100%;
                @media only screen and (min-width: 900px) {
                    height: 800px;
                }
            }
        }
    }
}