<div class="main-container">

    <app-navbar></app-navbar>
    <app-banner></app-banner>
    <div class="cards-amounts">
        <app-card-amount [number]="150" [title1]="'HAPPY'" [title2]="'STUDENTS'"></app-card-amount>
        <app-card-amount [number]="230" [title1]="'CERTIFIED'" [title2]="'COURSES'"></app-card-amount>
        <app-card-amount [number]="980" [title1]="'AWARDS'" [title2]="'RECEIVED'"></app-card-amount>
    </div>
    <div class="accept-challenges">
        <div class="accept-challenges__images">
            <img src="assets/images/accept-challenges/lateral-izquierdo.png" alt="Lateral Izquierdo">
            <img src="assets/images/accept-challenges/accept-new-challenges.png" alt="Nuevos retos">
            <img src="assets/images/accept-challenges/lateral-derecho.png" alt="Lateral Derecho">
        </div>
        <div class="accept-challenges__description">
            <h1><b>EXPLORA</b></h1>
            <img src="assets/images/shared/down-arrow.svg" alt="DOWN ARROW">
            <h1><b>ABOUT</b></h1>
        </div>
    </div>
    <section class="courses">
        <app-card-course *ngFor="let course of courses" [course]="course"></app-card-course>

    </section>
    <div class="more-courses">
        <p>MORE COURSES</p>
        <img src="/assets/images/shared/right-arrow.svg" alt="left arrow">
    </div>
    <app-us *ngFor="let item of us" [us]="item"></app-us>
    <app-carousel-califications></app-carousel-califications>
    <app-form></app-form>
    <app-footer></app-footer>
</div>