<article class="calification">
    <img class="calification__image" width="300" height="300" alt="IMagen" src={{calification.url_image}}>
    <div class="califications__stars">
        <img src="assets/images/common/star.svg" alt="star">
        <img src="assets/images/common/star.svg" alt="star">
        <img src="assets/images/common/star.svg" alt="star">
        <img src="assets/images/common/star.svg" alt="star">
        <img src="assets/images/common/star.svg" alt="star">
    </div>
    <div class="calification__comment">
        <p>{{ calification.comment}}</p>
    </div>
</article>