<section class="us">
    <div class="us__left">
        <div class="us__title">
            <h1>{{us.title}}</h1>
            <p class="purple">{{us.title_purple}}</p>
        </div>

        <div class="us__description">
            {{us.description}}
        </div>
        <div class="us__button">
            <app-button-purple [name]="'READ MORE'"></app-button-purple>
        </div>
    </div>
    <div class="us__right">
        <img src="{{us.img}}" alt="Image for us">
    </div>

</section>